<header>
<h1>{{page_Title}}</h1>
<a href='/home' title='Home Page'>Home Page</a> || <a href='/about' title='About Page'>About Page</a> || <a href='/error' title='Error Page'>Error Page</a> || <a href='/projects' title='Projects Page'>Projects Page</a>
</header>